web_tool/shapes/
web_tool/downloads/
web_tool/data/
web_tool/tiles/
output/
__pycache__/
.ipynb_checkpoints/
*.ipynb
*.pyc
endpoints.mine.js
files_to_sync.txt
files_not_to_sync.txt
sync_up.sh
.idea/
.vscode/
mount_remotes_deployment.sh
mount_remotes_development.sh

data/
tiles/
models/
