.idea/
.vscode/

__pycache__/
.ipynb_checkpoints/
*.pyc

logs/

web_tool/generated/
web_tool/endpoints.mine.js

setup/
setup_new/
setup_table_storage.sh
web_tool_data_install.sh
mount_remotes_deployment.sh
mount_remotes_development.sh